body {
  overflow: hidden;
}

.simple_bar {
  width: 100vw;
  height: 120vh;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(176, 223, 171, 1) 63%,
    rgba(148, 233, 231, 1) 85%
  );
  display: grid;
  place-content: center;

  // スクロールバーの背景
  .simplebar-track {
    background-color: white;
    border-radius: 10px;
  }

  // スクロールバー
  .simplebar-scrollbar::before {
    background: rgb(219, 255, 0);
    background: rgb(255, 181, 0);
    background: radial-gradient(
      circle,
      rgba(255, 181, 0, 0.8841911764705882) 0%,
      rgba(255, 207, 0, 0.7777485994397759) 68%
    );
    // デフォルトだと0.5の透過が入っている
    opacity: 1;
  }

  &__image {
    width: 300px;
    height: 700px;
    overflow-x: scroll;
    padding-bottom: 20px;

    img {
      height: 690px;
    }
  }
}
